# compiled output
dist
tmp

# dependencies
node_modules

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/
.editorconfig

# misc
.sass-cache

# test
*.spec.ts

#System Files
.DS_Store
Thumbs.db
