<nav class="navbar navbar-expand-lg navbar-dark stylish-color custom-navbar">
  <a class="navbar-brand pt-0" href="/">
    <img src="../assets/png/plate_maker.png" height="25" alt="Plate Maker Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="create-plate-navbar-link"
           class="nav-link font-weight-bold"
           [routerLink]="['createPlate']"
           [routerLinkActive]="['router-link-active']"
           [routerLinkActiveOptions]="{exact:true}">Create</a>
      </li>
      <li class="nav-item">
        <a id="display-plate-navbar-link"
           class="nav-link font-weight-bold"
           [routerLink]="['displayPlate']"
           [routerLinkActive]="['router-link-active']"
           [routerLinkActiveOptions]="{exact:true}">Display</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
