<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color w-100" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand pt-0" href="/">
        <img src="../assets/png/plate_maker.png" height="20" alt="Plate Maker Logo">
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="create-plate-navbar-link"
             class="nav-link font-weight-bold"
             [routerLink]="['createPlate']"
             [routerLinkActive]="['router-link-active']"
             [routerLinkActiveOptions]="{exact:true}">Create</a>
        </li>
        <li class="nav-item">
          <a id="display-plate-navbar-link"
             class="nav-link font-weight-bold"
             [routerLink]="['displayPlate']"
             [routerLinkActive]="['router-link-active']"
             [routerLinkActiveOptions]="{exact:true}">Display</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
