
server {

  location / {
    root /data/www/dist/app/;
    try_files $uri /index.html;
    index index.html;
    gzip on;
    gzip_types text/css text/javascript application/x-javascript application/json;
  }

}
