<div class="container-fluid mt-2" *ngIf="plate.length">
  <div class="row">
    <div class="col-8">
      <mdb-card>
        <mdb-card-body class="p-0">
          <lib-plate-maker [wells]="plate"
                           (selected)="selected($event)"
                           (deleted)="clearWells($event)">
          </lib-plate-maker>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-4">
      <mdb-card>
        <mdb-card-header class="elegant-color white-text text-center font-weight-bold">Configuration</mdb-card-header>
        <mdb-card-body>
          <div class="md-form">
            <input mdbInput type="text" id="barcode" class="form-control">
            <label for="barcode">Plate Barcode</label>
          </div>
          <div>
            <label for="field-object">Main Object</label>
            <select id="field-object" class="active custom-select" [formControl]="objectControl">
              <option value=""></option>
              <option *ngFor="let objValue of objectValues" [value]="objValue">{{objValue}}</option>
            </select>
          </div>
          <div class="my-3">
            <label for="other-field-object">Other Object</label>
            <select id="other-field-object" class="active custom-select" [formControl]="otherObjectControl">
              <option value=""></option>
              <option *ngFor="let othObjValue of otherObjectValues" [value]="othObjValue">{{othObjValue}}</option>
            </select>
          </div>
          <button mdbBtn type="button" size="sm" color="dark" class="btn float-right" (click)="savePlate()">
            save
          </button>
        </mdb-card-body>
      </mdb-card>
      <div id="printed" class="text-center animated fadeIn p-3" *ngIf="savedWells?.length">
        <div>Wells that could have been saved to a backend in real life</div>
        <div *ngFor="let well of savedWells" class="saved-well">
          {{well.listDisplay}}
        </div>
      </div>
    </div>
  </div>
</div>

